@import 'variables';
*{
    padding: 0;
    margin: 0;
    
    box-sizing: border-box;
    font-family: $tipografia;
    color: $white;
    
}

.cuerpo{
    background: $black; 
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
        flex-direction: column;
        align-items: center;
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
     
}
a {
    text-decoration: none;
    //margin:20px 20px 20px 20px ;
    &:hover {
        text-decoration: underline;            
    }
}
.div-boton { 
    border-radius: 15px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px 20px;
    background-color: $enfasis;
    
    &:hover {
      background: $oldrose;
      color: $black;
      transition: ease-in-out 0.8s;
    }
}

h1{
    font-family:$tipografia;
    //font-size:40pt;
    color: $white;
}
h2{
    //font-size: 30px;
    color: $oldrose;
}
h4 {
    font-family:$tipografia;
    color: azure;
}






